@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --O: 0;
    --P: 185px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

/* Left Segment */

/* Home */

.close {
    display: none;
}

.logo img {
    width: 110px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
}

/* Library */

.library {
    min-height: 80vh;
    position: relative;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 14px;
    font-size: 18px;
}

.heading img {
    width: 30px;
}

/* Song List */
.songList {
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.playNow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playNow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 13px;
    font-size: 10px;
    padding: 10px;
}

.footer a {
    text-decoration: none;
    color: grey;
}

/* Right Segment */

.right {
    margin: 16px 0;
    position: relative;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.header>* {
    padding: 20px;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    border: 0;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.signupbtn:hover {
    color: white;
    font-size: 17px;
}

.loginbtn {
    background-color: white;
    color: black;
    font-weight: 700;
    width: 80px;
    border-radius: 22px;
    padding: 10px;
    cursor: pointer;
}

.loginbtn:hover {
    font-weight: 900;
    transform: scale(1.05);
}

/* Spotify Playlist */
.spotifyPlaylist {
    padding: 16px;
}

.spotifyPlaylist h1 {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: auto;
}

.card {
    width: 200px;
    background-color: #252525;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    transition: all 0.2s ease-in;
}

.card:hover {
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --O: 1;
    --P: 165px;

}

.card>* {
    padding-top: 5px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card p {
    height: 38px;
    width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b3b3b3
}

.playbtn {
    position: absolute;
    top: var(--P);
    right: 20px;
    opacity: var(--O);
    transition: all 0.2s ease-in;
}

/* Play Bar */
.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #e2d9d9;
    border-radius: 10px;
    padding: 12px;
    width: 70vw;
    min-height: 40px;
}

.songButtons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 16px;
}

.songButtons img {
    cursor: pointer;
}

.seekbar {
    height: 4px;
    width: 98%;
    background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    width: 100%;
}

.songInfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songTime {
    width: 125px;
    color: black;
    padding: 0 12px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}


/* Responsiveness for Mobile Devices */

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songInfo,
    .songTime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 15px;
        top: 12px;
        width: 29px;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px);
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar {
        right: 25px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header {
        padding: 7px;
    }

    .spotifyPlaylist h1 {
        padding: 4px;
    }

    .library {
        height: 85vh;
    }

    .left {
        width: 100vw;
    }

}